/* Property Setup */
@font-face {
    src: url(fonts/MarkOT.otf);
    font-family: markot;
}
@font-face {
    src: url(fonts/MarkOTExtlight.otf);
    font-family: extlight;
}
@font-face {
    src: url(fonts/MarkOT-Bold.otf);
    font-family: markotbold;
}

:root {
    --clr-text: #fff;
    --clr-primary: #9abedf;
    --clr-secondary: #373737;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.6em;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 0;
}

/* Typography */
h3 {
    font-family: markotbold;
}

p {
    font-family: extlight;
    font-size: 14px;
    font-weight: 700;
}


/* Buttons */
a {
    text-decoration: none;
}

.img-fluid {
    display: block;
    width: 100%;
}


/* Styling */
.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navigation-wrap {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
    text-transform: uppercase;
}

.nav-item:hover .nav-link {
    color: #9abedf !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
    font-family: markotbold;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #9abedf;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.design__unit {
    text-align: center;
}

.design__unit__carousel .owl-carousel .item img {
    border-radius: 0px 10px 10px 10px;
}

.facility {
    padding-top: 10vh;
    text-align: center;
}

.facility p {
    font-size: 14px;
}

.facility span {
    color: var(--clr-primary);
    font-family: markotbold;
}

.fasilitas-carousel img {
    height: 200px;
    border-radius: 10px 0px 10px 10px;
}

.gallery {
    text-align: center;
}

.gallery-carousel img {
    border-radius: 0px 20px 20px 20px;
}

.gallery__info span {
    font-family: markotbold;
    color: var(--clr-primary);
}

.gallery__info p {
    font-size: 14px;
}

.gallery-pembangunan {
  display: flex;
  flex-wrap: wrap;
  margin: -1rem -1rem;
}

.gallery-item {
  flex: 1 0 24rem;
  margin: 1rem;
  box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
  overflow: hidden;
}

.gallery-image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 400ms ease-out;
}

.gallery-image:hover {
  transform: scale(1.15);
}

/*

*/

@supports (display: grid) {
  .gallery-pembangunan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-gap: 2rem;
  }

  .gallery-pembangunan,
  .gallery-item {
    margin: 0;
  }
}

.footer {
    background: linear-gradient(rgba(37, 37, 37, 0.1), rgba(37, 37, 37, 0.9)), url('images/home__page/footer__fix.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    justify-content: center;
    align-items: center;
}

.footer p,
h5 {
    font-family: extlight;
}

.footer .heading h5 {
    font-family: markotbold;
}

.footer .instagram {
    font-size: 24px;
    color: white;
}

@media (max-width: 500px) {

    .footer {
        height: 130vh;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .footer .socmed img {
        width: 40%;
        display: inline-block;
    }

    .footer .username .instagram {
        font-size: 70px;
    }

    .bri__footer img {
        width: 30%;
        display: inline-block;
    }

    .footer .address {
        margin-top: 1vh;
    }

    .footer .copyright {
        margin-top: 1vh;
    }

    .footer .heading {
        font-family: markotbold;
    }

}

@media (max-width: 767px) {

.nav-item:after{
        display: none;
}

.nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
}

.dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }

    .design__unit .design__unit__heading hr {
        width: 13%;
        border-top: 5px solid var(--clr-primary)!important;
        display: inline-block;
    }

    .facility .row .col-md-12 hr {
        width: 15%;
        border-top: 5px solid var(--clr-primary) !important;
        display: inline-block;
    }

    .fasilitas-carousel img {
    height: 250px;
    }

    .gallery .row .col-md-12 hr {
        width: 13%;
        border-top: 5px solid var(--clr-primary) !important;
        display: inline-block;
    }

    .gallery-carousel {
        margin-top: -4vh;
    }

    .gallery__info p {
        margin-top: 3vh;
    }

    .footer {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .socmed img {
        width: 30%;
        display: inline-block;
    }

    .footer .username .instagram {
        font-size: 80px;
    }

    .bri__footer img {
        width: 20%;
        display: inline-block;
    }

    .footer .heading {
        font-family: markotbold;
    }

    .footer div {
        padding-top: 3vh;
    }


}

@media (min-width: 768px) {

    .design__unit .design__unit__heading hr {
        width: 10%;
        border-top: 5px solid var(--clr-primary)!important;
        display: inline-block;
    }

    .facility .row .col-md-12 hr {
        width: 12%;
        border-top: 5px solid var(--clr-primary) !important;
        display: inline-block;
    }

    .gallery .row .col-md-12 hr {
        width: 10%;
        border-top: 5px solid var(--clr-primary) !important;
        display: inline-block;
    }

    .gallery-carousel {
        margin-top: -4vh;
    }

    .gallery-carousel img {
        height: 200px;
        width: 100%;
    }

    .gallery__info p {
        margin: auto;
        position: absolute;
        top: 22%;
    }

    .footer {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer .socmed img {
        width: 15%;
        display: inline-block;
    }

    .bri__footer img {
        width: 50%;
        display: inline-block;
    }

    .footer .address {
        padding-top: 7vh;
    }

    .footer .username .instagram {
        font-size: 75px;
    }

    .footer .heading {
        font-family: markotbold;
    }

    .footer .ig {
        margin-top: -2.5vh;
    }

}

@media (min-width: 992px) {

    .design__unit .design__unit__heading hr {
        width: 8%;
        border-top: 5px solid var(--clr-primary)!important;
        display: inline-block;
    }

    .facility .row .col-md-12 hr {
        width: 9%;
    }

    .gallery .row .col-md-12 hr {
        width: 8%;
    }

    .gallery-carousel img {
        height: 250px;
        width: 100%;
    }

    .gallery__info p {
        top: 30%;
    }

    .footer .heading {
        font-family: markotbold;
    }

    .footer .username .instagram {
        font-size: 90px;
    }
}

@media (min-width: 1200px) {

    .design__unit .design__unit__heading hr {
        width: 6%;
        border-top: 5px solid var(--clr-primary)!important;
        display: inline-block;
    }

    .facility .row .col-md-12 hr {
        width: 7%;
    }

    .facility p {
        font-size: 16px;
    }

    .gallery .row .col-md-12 hr {
        width: 6%;
    }

    .gallery-carousel img {
        height: 300px;
        width: 100%;
    }

    .gallery__info p {
        top: 35%;
        font-size: 16px;
    }

    .footer .heading {
        font-family: markotbold;
    }

    .footer .username .instagram {
        font-size: 115px;
    }

}