/* Property Setup */
@font-face {
    src: url(fonts/MarkOT.otf);
    font-family: markot;
}
@font-face {
    src: url(fonts/MarkOTExtlight.otf);
    font-family: extlight;
}
@font-face {
    src: url(fonts/MarkOT-Bold.otf);
    font-family: markotbold;
}

:root {
    --clr-text: #fff;
    --clr-primary: #9abedf;
    --clr-secondary: #373737;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.6em;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 0;
}

/* Typography */
h3 {
    font-family: markotbold;
}

p {
    font-family: extlight;
    font-size: 14px;
}


/* Buttons */
a {
    text-decoration: none;
}

.img-fluid {
    display: block;
    width: 100%;
}


/* Styling */
.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navigation-wrap {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
    text-transform: uppercase;
}

.nav-item:hover .nav-link {
    color: #9abedf !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
    font-family: markotbold;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #9abedf;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.investment__page {
  padding-top: 5vh;
}

.investment__page .row .col-md-6:last-child {
    position: relative;
}

.investment__page .panel {
  text-align: center;
}

.investment__page .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    left: -18vmin;
    background: var(--clr-secondary) !important;
    border-radius: 20px 0px 20px 20px;
    text-align: center;
    padding: 5vmin 5vmin 10vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    z-index: 1;
}

.investment__page .row .col-md-6 .panel h3 {
    font-family: markotbold;
    padding: 0.4em 0;
    color: var(--clr-text) !important;
}

.investment__page .row .col-md-6 .panel p {
    font-family: extlight;
    color: var(--clr-text) !important;
}





.investment__kosmotown {
    text-align: center;
}

.investment__kosmotown img {
  border-radius: 20px 0px 20px 20px;
}


.investment__kosmotown .row .col-md-6:last-child {
    position: relative;
}

.investment__kosmotown .row .col-md-6 .panel {
    position: absolute;
    top: 7vmin;
    right: -25vmin;
    background: var(--clr-secondary) !important;
    border-radius: 20px 0px 20px 20px;
    text-align: center;
    padding: 5vmin 5vmin 10vmin 5vmin;
    box-shadow: 0px 25px 42px rgba(0,0,0,0.2);
    z-index: 1;
}

.investment__kosmotown .row .col-md-6 .panel h3 {
    font-family: markotbold;
    padding: 0.4em 0;
    color: var(--clr-text) !important;
}

.investment__kosmotown .row .col-md-6 .panel hr {
    width: 20%;
    border: 3px solid var(--clr-primary) !important;
    display: inline-block;
}

.investment__kosmotown .row .col-md-6 .panel p {
    font-family: extlight;
    color: var(--clr-text) !important;
}

.contact-form .background {
  display: flex;
  padding-top: 5%;
}

.contact-form .container {
  flex: 0 1 1100px;
  margin: auto;
  padding: 10px;
}

.screen {
  position: relative;
  background: #3e3e3e;
  border-radius: 15px;
}

.screen:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 20px;
  right: 20px;
  bottom: 0;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, .4);
  z-index: -1;
}

.screen-body {
  display: flex;
}

.screen-body-item {
  flex: 1;
  padding: 50px;
}

.screen-body-item.left {
  display: flex;
  flex-direction: column;
}

.app-title {
  display: flex;
  flex-direction: column;
  position: relative;
  color: #9ABEDF;
  font-size: 26px;
}

.app-title span {
    font-family: markotbold;
}

.app-title:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 25px;
  height: 4px;
  background: #9ABEDF;
}

.app-contact {
  margin-top: auto;
  font-size: 8px;
  color: #888;
}

.app-form-group {
  margin-bottom: 15px;
  font-family: markotbold;
}

.app-form-group.message {
  margin-top: 40px;
}

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #666;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #9ABEDF;
  font-size: 14px;
  cursor: pointer;
  outline: none;
}

.app-form-button:hover {
  color: #fff;
}

.dribbble {
  width: 20px;
  height: 20px;
  margin: 0 5px;
}

.contact-form .spinner-border {
    margin-bottom: -6px;
}

@media screen and (max-width: 520px) {
  .screen-body {
    flex-direction: column;
  }

  .screen-body-item.left {
    margin-bottom: 30px;
  }

  .app-title {
    flex-direction: row;
  }

  .app-title span {
    margin-right: 12px;
  }

  .app-title:after {
    display: none;
  }

  .app-contact {
    margin-top: 100px;
  }
}

@media screen and (max-width: 600px) {
  .screen-body {
    padding: 40px;
  }

  .screen-body-item {
    padding: 0;
  }
}

@media (max-width: 767px) {

.nav-item:after{
        display: none;
}

.nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
}

.dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }

    .investment__page img {
      width: 320px;
      height: 320px;
      border-radius: 20px;
      margin-bottom: 5vh;
      display: inline-block;
    }

    .investment__page hr {
      width: 20%;
      border: 3px solid var(--clr-primary)!important;
      display: inline-block;
    }

    .investment__page .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    .investment__kosmotown img {
      width: 320px;
      height: 320px;
      border-radius: 20px;
      margin-bottom: 5vh;
      display: inline-block;
    }

    .investment__kosmotown hr {
      width: 20%;
      border: 3px solid var(--clr-primary)!important;
      display: inline-block;
    }

    .investment__kosmotown .row .col-md-6 .panel {
        position: initial;
        width: initial;
        height: initial;
    }

    
    }

    @media (min-width: 768px) {

      .investment__page {
        padding-top: 10vh;
      }

      .investment__page hr {
        width: 20%;
        border: 3px solid var(--clr-primary) !important;
        display: inline-block;
      }

      .investment__page img {
        border-radius: 0px 20px 20px 20px;
      }

      .investment__page .row .col-md-6 .panel {
        position: absolute;
        margin: auto;
        top:-6%;
      }

      .investment__kosmotown {
        padding-top: 15vh;
      }

      .investment__kosmotown img {
        height: 82vh;
      }

      .investment__kosmotown .row .col-md-6 .panel {
        position: absolute;
        margin: auto;
        top:-4%;
      }
      
    }

    @media (min-width: 992px) {

      .investment__page {
        padding-top: 20vh;
      }

      .investment__page img {
        height: 72vh;
      }

      .investment__kosmotown {
        padding-top: 20vh;
      }

      .investment__kosmotown img {
        height: 74vh;
      }

    }

    @media (min-width: 1200px) {

      .investment__page {
        padding-top: 10vh;
      }

      .investment__page img {
        height: 90vh;
      }

      .investment__page .row .col-md-6 .panel {
        position: absolute;
        margin: auto;
        top:15%;
      }

      .investment__kosmotown img {
        height: 90vh;
      }

      .investment__kosmotown .row .col-md-6 .panel {
        position: absolute;
        margin: auto;
        top:14%;
      }

    }
