/* Property Setup */
@font-face {
    src: url(fonts/MarkOT.otf);
    font-family: markot;
}
@font-face {
    src: url(fonts/MarkOTExtlight.otf);
    font-family: extlight;
}
@font-face {
    src: url(fonts/MarkOT-Bold.otf);
    font-family: markotbold;
}

:root {
    --clr-text: #fff;
    --clr-primary: #9abedf;
    --clr-secondary: #373737;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    line-height: 1.6em;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

section {
    padding: 2rem 0;
}

/* Typography */
h3 {
    font-family: markotbold;
}

p {
    font-family: extlight;
    font-size: 14px;
    font-weight: 700;
}


/* Buttons */
a {
    text-decoration: none;
}

.img-fluid {
    display: block;
    width: 100%;
}


/* Styling */
.start-header {
    opacity: 1;
    transform: translateY(0);
    padding: 20px 0;
    box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navigation-wrap {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    -webkit-transition : all 0.3s ease-out;
    transition : all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
    text-transform: uppercase;
}

.nav-item:hover .nav-link {
    color: #9abedf !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
    font-family: markotbold;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #9abedf;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

.kosmo__page .container-fluid {
    padding: 0;
    background-image: url(images/kosmo__page/cover-kosmo.jpg);
    background-size: cover;
    background-attachment: fixed;
    display: flex;
}

.budaya__kami {
    padding: 10vh;
    text-align: center;
}

.budaya__kami span {
    font-family: markotbold;
    color: var(--clr-primary)!important;
}

@media (max-width: 767px) {

.nav-item:after{
        display: none;
}

.nav-item::before {
    position: absolute;
    display: block;
    top: 15px;
    left: 0;
    width: 11px;
    height: 1px;
    content: "";
    border: none;
    background-color: #000;
    vertical-align: 0;
}

.dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }
    .dropdown-toggle[aria-expanded="true"]::after{
        transform: rotate(90deg);
        opacity: 0;
    }

    .kosmo__page .container-fluid {
    height: 90vh;
    }

    .budaya__kami .info hr {
        width: 15%;
        border-top: 5spx solid var(--clr-primary) !important;
        display: inline-block !important;
    }
}

@media (min-width: 768px) {

    .kosmo__page .container-fluid {
        height: 90vh;
    }

    .budaya__kami .info hr {
        width: 10%;
        border-top: 5px solid var(--clr-primary) !important;
        display: inline-block !important;
    }
}

@media (min-width: 992px) {

    .budaya__kami p {
        font-size: 16px;
    }

    .budaya__kami .info hr {
        width: 8%;
    }
}

@media (min-width: 1200px) {

    .budaya__kami p {
        font-size: 16px;
    }

    .budaya__kami .info hr {
        width: 6%;
    }

    .footer img {
        padding-top: 5vh;
    }
}